[flake8]
max-line-length = 125
max-local-variables = 7
max-module-members = 8

ignore =
    DAR101,  # Missing parameter(s) in Docstring
    DAR201,  # Missing "Returns" in Docstring
    WPS237,  # Found a too complex `f` string
    WPS305,  # F-strings is OK
    WPS306,  # Used dataclasses
    S410,    # Using etree to parse untrusted XML data is known to be vulnerable to XML attacks.

per-file-ignores =
    #  WPS432: Found magic number
    #  E501:   line too long
    app/settings.py: WPS432, E501,
